{% load staticfiles %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pathblog</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A simple tools/blog website for Dungeon Masters to keep track of their campaign"/>
		<meta name="keywords" content="pathfinder, dungeons and dragons, campaign, spells, database"/>
        <meta name="author" content="Andres Correa"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default center navbar-fixed-top transp-bg" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-inner" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-button-profile" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><span><img src="{% gravatar_url user.email %}"
                                                                style="width:25px; height: 25px; background-color: #12ABB2; color: #ffffff;"
                                                                class="img-circle">
                                                                {% if user.is_authenticated %}
                                                                    </span> {{ user }} <span
                                                                {% else %}
                                                                    </span> Username <span
                                                                {% endif %}
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'profile' %}">Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}">Log In</a></li>
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="{% url 'post_list' %}" class="nav-button">Blog</a></li>
                        <li><a href="{% url 'tools' %}" class="nav-button">Tools</a></li>
                        <li><a href="{% url 'index' %}" class="rp"><img class="active logo-img active" src="{% static 'images/logo.png' %}" width="300" alt="logo"></a></li>
                        <li><a href="#" class="nav-button">Contact/About Us</a></li>
                        <li><a href="#" class="nav-button">Subscribe</a></li>
                        <li><a href="{% url 'tips' %}" class="nav-button">Tip your GM</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--<div id="masthead">
            <div class="container">
                <div class="row">
                    <hr>
                    <p class="lead"> Best blog ever. Ever! </p>
                    <hr>
                </div>
            </div>
        </div>-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            {% if messages %}
                                <div class="alert alert-success">
                                    <div class="messages">
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <!--blog entries-->
                            {% block content %}
                            {% endblock %}
                            <!--blog entries-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="{% static 'js/sorter.js' %}"></script>
    </body>
</html>

